<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
        <a class="h1" href="/"><%= title %></a>
    </h1>
    <hr>
    <p class="links">About
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/projects">Projects</a>
    </p>
    <hr> 
    <br>
    <br>
    <p class="first">Soon to come!</p>
  </body>
</html>
