<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my website!</p>
    <p>Email: <a href="mailto:info@govindmohan.com"><%= email %></a></p>
    <p>Github: <a href="https://github.com/govi218"><%= github %></a></p>
  </body>
</html>
